/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(img/background.jpg);
  background-repeat: repeat;
  background-size: contain;
}

/* Header styles */
header {
  background-color: #f2f2f2;
  color: #0d0b2e;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  flex-grow: 1;
}

.logo h1 {
  margin: 0;
  color: #0d0b2e;
}

/* Main content styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.recipe {
  width: 420px;
  height: 300px;
  margin: 15px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.recipe-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: left;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
}

.p-subtitle {
  margin: 0;
  line-height: 1.2;
}

.pdf-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pdf-link:hover {
  background-color: #f2f2f2;
  color: #47465e;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  color: #47465e;
}

@media screen and (max-width: 768px) {
  
  
  .recipe {
  width: 320px !important;
  height: 200px !important;
  }
}
